.vscode/
*__pycache__/=
admin/
doc/
wwwdir/c/
wwwdir/client_area/
wwwdir/langs/mag_langs.php
includes/cli_tool/balancer.php
crons/backups.php
crons/cache_engine.php
crons/epg.php
crons/series.php
crons/stats.php
crons/tmdb_async.php
crons/watch_folder.php
includes/admin.php
includes/epg.php
includes/admin_api.php
includes/libs/TMDb/
wwwdir/get.php
includes/libs/gauth.php
includes/cli_tool/update_bd.php
includes/libs/tmdb_release.php
includes/libs/tmdb.php
wwwdir/enigma2.php
wwwdir/xplugin.php
wwwdir/xmltv.php
wwwdir/portal.php
wwwdir/player_api.php
wwwdir/panel_api.php
bin/install/database.sql
bin/php/blacklist.txt
includes/cli_tool/migrate.php
includes/cli_tool/cache_handler.php
tests/
wwwdir/images/
CONTRIBUTING.md
CONTRIBUTORS.md
repomix-output.md
repomix.config.json
delete unuse.sh
adtools/
